@keyframes scroll {
    0% {
      transform: translateX(100%); /* Start from the right */
    }
    100% {
      transform: translateX(-100%); /* End at the left */
    }
  }
  
  .marquee-wrapper {
    white-space: nowrap; /* Ensure the items stay in a single line */
    display: inline-flex; /* Use inline-flex for continuous scrolling */
  }
  .scroll-aware {
  position: sticky;
  top: 0;
  transition: transform 0.3s ease-in-out;
}

.scroll-aware.hide-on-scroll-down {
  transform: translateY(-100%);
}

.scroll-aware.show-on-scroll-up {
  transform: translateY(0);
}
  